<>
  <h1>Practica Integradora Modulo 1</h1>
  <h2>Mensajes:</h2>
  {{#each messagesArray}}
    <div>
      <br />
      <p>Usuario: {{this.user}}</p>
      <p>Mensaje: {{this.message}}</p>
    </div>
  {{/each}}
</div>